# Archivos de log generados por el sistema
logs/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Entornos virtuales
venv/
env/
.env

# IDEs
.vscode/
.idea/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db
